<!-- <div class="py-8 row"> -->
{% if doc.published %}
<div class="col-sm-12 col-md-4">
	<div class="card">
		{% if doc.image %}
			<img src="{{ doc.image }}" alt="{{ doc.name }}">
		{% endif %}
		<div class="card-body">
			<div>
				{% if doc.status == 'Available' %}
				<span id="span{{ doc.name }}" class="badge badge-success">Available</span>
				{% elif status == 'Issued' %}
				<span id="span{{ doc.name }}" class="badge badge-primary">Issued</span">
				{% endif %}
			</div>
			<a class="font-size-lg" href="{{ doc.route }}">{{ doc.article_name }}</a>
			<p class="text-muted">By {{ doc.author }}</p>
			{% if doc.status == 'Issued' %}
			{% else %}
			<!-- <a href="{{ doc.route }}" class="btn btn-primary">Borrow</a> -->
			{% if frappe.session.user == 'Guest' %}
				<button id="{{ doc.name }}" onclick="borrowArticle(`{{ doc.name, frappe.session.user }}`)" class="btn btn-primary" >Borrow</button>
				{% else %}
					<button id="{{ doc.name }}" onclick="borrowArticle(`{{ doc.name }}`, `{{ frappe.session.user }}`)" class="btn btn-primary" >Borrow</button>
				{% endif %}
			{% endif %}
		</div>
	</div>
</div>
{% endif %}
<!-- </div> -->